@page "/personal"
@inject NavigationManager NavigationManager
@inject BlazorUser BlazorUser
@inject BlazorUser User
@inject IToastService ToastService
@inject IJSRuntime JSRuntime
@using System.Text.RegularExpressions;
@using System.Text.Json;
@using System.Numerics;
@using System.Text

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light">
    <div class="container">
        <div style="width: 50%;">
            <i class="bi bi-cash-coin" style="color: white; padding-right: 1%;"></i>
            <a class="navbar-brand w-25 text-light" href="/">Банк Приколофф</a>
        </div>
        <div style="width: 50%; display: flex; justify-content: flex-end;">
            <div class="dropdown">
                <i class="bi bi-emoji-smile dropdown-toggle" style="color: rgb(255, 255, 255); font-size: left: auto;;" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href=# @onclick="Unlogin">Выйти из аккаунта</a>
                </div>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto w-100 d-flex justify-content-end">

            </div>
        </div>
    </div>
</nav>
<section class="heroSec @((isLoading) ? "loading" : "loaded")" id="hero" style="position: sticky;">
    <div class="container">
        <div class="main" style="display-flex; height: 100%;">
            <div class="col d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <h1>Добро пожаловать, @user.FirstName</h1>
                        <div style="display: flex; flex-direction: row">
                            <h4>Ваши карты</h4>
                            <button class="btn btn-dark btn-sm" style="margin-left: 1%;" @onclick="ShowModal" disabled="@isLoading">Хотите оформить?</button>                                                       
                        </div>
                        <button class="btn btn-dark btn-sm" @onclick="LoadCards" disabled="@isLoading">Обновить</button>
                            <div class="scroll-container">
                                @if (isLoading)
                                {
                                    <h6>Информация загружается...</h6>
                                }
                                else
                                {
                                    if(cards is null || cards.Count == 0){
                                        <i style="font-size: 35px;" class="bi bi-emoji-frown"></i>
                                        <h6>Карты отсутствуют</h6> 
                                    }
                                    @if (isUserHaveAccount)
                                    {
                                        @foreach(var card in cards)
                                        {
                                            if (!string.IsNullOrEmpty(card.OwnerName))
                                            {
                                            <div class="scroll-card">
                                                <div class="cardUser">
                                                    <div class="@(card.Blocked ? "frontBlocked" : (card.TypeId == 1 ? "frontDebet" : "frontLoan"))">
                                                        <div style="padding-bottom: 30px;">
                                                            @FormatCardNumber(card.CardNumber)
                                                        </div>
                                                        <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 20%">
                                                            <div>
                                                                @card.OwnerName
                                                            </div>
                                                            <div>
                                                                @card.ExpDate.Month / @card.ExpDate.Year.ToString().Substring(2,2)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="back">
                                                        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; height: 100%; gap: 10%">
                                                            <div>cvv: @if(IsShowInfo){@card.Cvv} else {<span>***</span>}  Баланс: @card.Balance</div>
                                                            @if (card.Blocked)
                                                            {
                                                                <div>Карта заблокирована</div>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-dark btn-sm w-100" @onclick="ShowInfo">Показать информацию</button>           
                                                                <button class="btn btn-success btn-sm w-100" @onclick="() => ShowTransactionModal(card)">Перевести деньги</button>                                                       
                                                                <button class="btn btn-danger btn-sm w-100" disabled="@isCardBlockLoad" @onclick="() => BlockCard(card.CardId)">Заблокировать</button> 
                                                      
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <h6>Карты отсутствуют <button class="btn btn-dark btn-sm" style="margin-left: 1%;" @onclick="ShowModal">Хотите оформить?</button></h6>
                                        <i style="font-size: 35px;" class="bi bi-emoji-frown"></i>
                                    }
                                }
                                <div>
                                </div>
                            </div>
                    </div>
                    @if (isTransactionVisible)
                    {
                        <div class="modal-overlay" @onclick="HideTransactionModal"></div>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBasicLabel">Перевести деньги</h5>
                                        <button type="button" class="btn-close" aria-label="Закрыть" @onclick="HideTransactionModal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="padding-bottom: 10px;">
                                            <label for="phone"><b>Номер карты получателя</b></label>
                                            <input type="text" class="form-control" placeholder="2222 2222 2222 2222" @bind="cardToTransact"/>
                                        </div>
                                        <div style="padding-bottom: 10px;">
                                            <label for="phone"><b>Сумма</b></label>
                                            <input type="text" class="form-control" placeholder="" @bind="TransactionAmount"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" @onclick="HideTransactionModal">Отменить</button>
                                        <button type="button" class="btn btn-primary" disabled="@isTransaction" @onclick="TransactionBetweenCards">Выполнить перевод</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (isModalVisible)
                    {
                        <div class="modal-overlay" @onclick="HideModal"></div>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @if (IsAddingLoan){
                                            <h5 class="modal-title" id="modalBasicLabel">Оформление кредитной карты</h5>
                                        }
                                        else {
                                            <h5 class="modal-title" id="modalBasicLabel">Оформление карты</h5>
                                        }
                                        <button type="button" class="btn-close" aria-label="Закрыть" @onclick="HideModal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="padding-bottom: 10px;">
                                            <label for="phone"><b>Имя на карте</b></label>
                                            <input type="text" class="form-control" id="Login" @bind="ownerName" placeholder="IVANOV IVAN"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" @onclick="HideModal">Отменить</button>
                                        @if (IsAddingLoan){
                                            <button type="button" class="btn btn-primary" @onclick="(() => AddCard(accounts.Last(), 2))" disabled="@IsButtonBlocked">Оформить карту</button>
                                        }
                                        else {
                                            <button type="button" class="btn btn-primary" @onclick="(() => AddCard())" disabled="@IsButtonBlocked">Оформить карту</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        <div style="display: flex; flex-direction: row">
                            <h4>Ваши вклады</h4>
                            <button class="btn btn-dark btn-sm" style="margin-left: 1%;" @onclick="ShowModalDeposit" disabled="@IsDepositLoading">Хотите оформить?</button>                                                       
                        </div>
                        <button class="btn btn-dark btn-sm" @onclick="LoadDeposits" disabled="@IsDepositLoading">Обновить</button>
                        <div class="scroll-container">
                            @if (IsDepositLoading)
                            {
                                <h6>Информация загружается...</h6>
                            }
                            else 
                            {
                                @if (deposits is null || deposits.Count == 0)
                                {
                                    <i style="font-size: 35px;" class="bi bi-emoji-frown"></i>
                                    <h6>Вклады отсутствуют</h6> 
                                }
                                else 
                                {
                                    foreach (var d in deposits)
                                    {
                                        <div class="scroll-deposite">
                                            <div>
                                                Тип вклада: @d.TypeName
                                            </div>
                                            <div>
                                                Сумма: @d.Balance
                                            </div>
                                            <div>
                                                Процент: @d.IncreasestRate %
                                            </div>
                                            <div>
                                                Дата открытия: @d.StartDate.ToShortDateString()
                                            </div>
                                            
                                                @if (@d.EndDate is not null) 
                                                {
                                                    <div>
                                                        Дата закрытия: @Convert.ToDateTime(d.EndDate).ToShortDateString()
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        Бессрочный
                                                    </div>
                                                }
                                            
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>  
                    @if (isModalDepositVisible)
                    {
                        <div class="modal-overlay" @onclick="HideModalDeposit"></div>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBasicLabel">Оформление вклада</h5>
                                        <button type="button" class="btn-close" aria-label="Закрыть" @onclick="HideModalDeposit"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="padding-bottom: 10px;">
                                            <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                @NameOfDepositComboBox
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" @onclick="() => TypeOf(1)">Базовый, 5%, Минимальная сумма: 1000₽, Минимальный срок: 1 месяц</a></li>
                                                <li><a class="dropdown-item" @onclick="() => TypeOf(2)">Расширенный, 7%, Минимальная сумма: 10000₽, Минимальный срок: 5% месяцев</a></li>
                                                <li><a class="dropdown-item" @onclick="() => TypeOf(3)">Накопительный, 3%, Можно класть сколько и снимать когда угодно</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                        <div style="padding-bottom: 10px;">
                                            <label for="email"><b>Дата возврата</b></label>
                                            <input type="date" class="form-control" @bind="depositEndTime" disabled="@(!IsDepositHaveEnd)"/>
                                        </div>
                                        <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 15px;">
                                            Бессрочный
                                            <input type="checkbox" @onclick="ChangeDepositEnd">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" @onclick="HideModalDeposit">Отменить</button>
                                        <button type="button" class="btn btn-primary" disabled="@IsButtonBlocked" @onclick="AddDeposit">Оформить вклад</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        <div style="display: flex; flex-direction: row">
                            <h4>Ваши кредиты</h4>
                            @if(loans.Count == 0){
                                <button class="btn btn-dark btn-sm" style="margin-left: 1%;" @onclick="ShowModalLoan"  disabled="@IsLoanLoading">Хотите оформить?</button>                                                       
                            }
                        </div>
                        <button class="btn btn-dark btn-sm" @onclick="LoadLoans" disabled="@IsLoanLoading">Обновить</button>
                        <div class="scroll-container">
                            @if (IsLoanLoading)
                            {
                                <h6>Информация загружается...</h6>
                            }
                            else
                            {
                                @if (loans is null || loans.Count == 0)
                                {
                                    <i style="font-size: 35px;" class="bi bi-emoji-frown"></i>
                                    <h6>Кредиты отсутствуют</h6> 
                                }
                                else
                                {
                                    foreach (var l in loans)
                                    {
                                        <div class="scroll-loan">
                                            <div>
                                                Тип кредита: @l.TypeName
                                            </div>
                                            <div>
                                                Сумма: @l.Balance
                                            </div>
                                            <div>
                                                Процент: @l.InterestRate
                                            </div>
                                            <div>
                                                До следующего платежа: 15 дней
                                            </div>
                                            <div>
                                                Осталось погасить: @l.RemarningAmount
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                    @if (isModalLoanVisible)
                    {
                        <div class="modal-overlay" @onclick="HideModalLoan"></div>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBasicLabel">Оформление кредита</h5>
                                        <button type="button" class="btn-close" aria-label="Закрыть" @onclick="HideModalLoan"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="padding-bottom: 10px;">
                                            <div class="dropdown" style="padding-bottom: 10px;">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                @NameOfLoanComboBox
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" @onclick="() => TypeOfLoan(1)">Start, 12%, Максимальная сумма: 500 000₽</a></li>
                                                <li><a class="dropdown-item" @onclick="() => TypeOfLoan(2)">Family comfort, 8%, Максимальная сумма: 10 000 000₽</a></li>
                                                <li><a class="dropdown-item" @onclick="() => TypeOfLoan(3)">Auto+, 10%, Максимальная сумма: 3 000 000₽ </a></li>
                                            </ul>
                                            </div>
                                            <div style="padding-bottom: 10px;">
                                                <label for="phone"><b>Сумма</b></label>
                                                <input type="text" class="form-control" @bind="loanBalance"/>
                                            </div>
                                            <div style="padding-bottom: 10px;">
                                                <label for="email"><b>Дата возврата</b></label>
                                                <input id="loanEndDate" type="date" class="form-control" @bind="loanEndDate"/>
                                            </div>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" @onclick="HideModalLoan">Отменить</button>
                                        <button type="button" class="btn btn-primary" disabled="@IsButtonBlocked" @onclick="AddLoan">Оформить кредит</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-white text-dark py-4 border-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5>Адрес</h5>
                <p>г. Москва, ул. Болотная набережная, д.15</p>
            </div>
            <div class="col-md-6">
                <h5>Информация</h5>
                <p><a href="../license_prikoloff.jpg" style="color: black;">Генеральная лицензия на осуществление банковских операций от 10 декабря 2024 года. Регистрационный
                    номер — 2145</a></p>
                <p>© 2024 — <span id="currentYear"></span> ПАО Приколофф</p>
                <p>800 Для бесплатных звонков с мобильных на территории РФ</p>
                <p>8 (800) 555 35-35 Для звонков из любой точки мира</p>
            </div>
        </div>
    </div>
</footer>


<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>


@code {
    public string ClientId { get; set; }
    public string Login { get; set; }
    public string Password { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string? Patronomic { get; set; }
    public string Email { get; set; }
    private bool NoPatronymic { get; set; }
    private bool ShowEmailMessage { get; set; }
    private bool ShowFirstNameMessage { get; set; }
    private bool ShowLastNameMessage { get; set; }
    private bool ShowPatronomicMessage { get; set; }
    private bool ShowInvalidEmailMessage { get; set; }
    private bool isModalVisible = false;
    private bool isModalDepositVisible = false;
    private bool isModalLoanVisible = false;
    private bool isTransactionVisible = false;
    public bool isCardBlockLoad = false;
    public bool isUserHaveAccount = false;
    public string cvvCode;
    public bool isLoading = true;
    public bool IsShowInfo = false;
    public bool isAddingCard = false;

    public List<Account> accounts = new List<Account>();

    public List<CardWithBalance> cards = new List<CardWithBalance>();
    
    public string ser;
    public string num;
    
    public string NameOfDepositComboBox = "Выберите тип вклада";
    public int TypeDeposit = 1;
    private void TypeOf(int type){
        switch(type){
            case 1:
                NameOfDepositComboBox = "Базовый";
                break;
            case 2: 
                NameOfDepositComboBox = "Расширенный";
                break;
            case 3:
                NameOfDepositComboBox = "Накопительный";
                break;
        }
        TypeDeposit = type;
    }

    public string FormatCardNumber(string numberOfCard)
    {
        // Проверяем, что строка не пустая
        if (string.IsNullOrEmpty(numberOfCard))
        {
            return string.Empty;
        }

        StringBuilder formattedNumber = new StringBuilder();

        for (int i = 0; i < numberOfCard.Length; i += 4)
        {
            formattedNumber.Append(numberOfCard.Substring(i, Math.Min(4, numberOfCard.Length - i)));

            if (i + 4 < numberOfCard.Length)
            {
                formattedNumber.Append(" ");
            }
        }

        return formattedNumber.ToString();
    }
    private void ShowModal()
    {
        isModalVisible = true;
    }

    private void HideModal()
    {
        isModalVisible = false;
    }

    private void ShowModalDeposit()
    {
        isModalDepositVisible = true;
    }
    private void HideModalDeposit()
    {
        isModalDepositVisible = false;
    }

    private void ShowModalLoan()
    {
        isModalLoanVisible = true;
    }
    private void HideModalLoan()
    {
        isModalLoanVisible = false;
    }
    
    private void ShowInfo()
    {
        IsShowInfo = !IsShowInfo;
    }

    public Card? selectedCard;
    private void ShowTransactionModal(Card card){
        isTransactionVisible = true;
        selectedCard = card;
    }

    private void HideTransactionModal(){
        isTransactionVisible = false;
    }
    User user = new User();

    public async Task Unlogin()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "ClientId");
        ToastService.ShowInfo("Успешный выход из аккаунта");
        await JSRuntime.InvokeVoidAsync("location.reload");
        return;
    }


    protected override async Task OnInitializedAsync()
    {

        var date = DateTime.Now;
        depositEndTime = DateTime.Now.AddMonths(6);
        CurrentTime = date.ToShortTimeString();
        CurrentDate = date.ToShortDateString();

        if (BlazorUser.User is not null && !string.IsNullOrEmpty(BlazorUser.User.ClientId))
        {
            user = BlazorUser.User;
            await LoadAccounts();
        }
        else
        {
            var clientId = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "ClientId");
            if (!string.IsNullOrEmpty(clientId))
            {
                HttpClient client = new HttpClient();
                client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
                HttpResponseMessage response = await client.GetAsync($"api/User/id/{clientId}");

                BlazorUser.User = await response.Content.ReadFromJsonAsync<User>();
                if (BlazorUser.User is null)
                {
                    NavigationManager.NavigateTo("/");
                }
                user = BlazorUser.User;
                await LoadAccounts();
            }
            else
            {
                NavigationManager.NavigateTo("/");
                return;
            }
        }

        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "ClientId", BlazorUser.User.ClientId);

        ser = user.SeriesPasport.ToString();
        num = user.NumberPasport.ToString();

        if(ser == null || ser.Length < 4 || num == null || num.Length < 6){
            ToastService.ShowWarning("Пожалуйста, исправьте паспортную информацию в профиле");
        }

        await LoadCards();
        await LoadDeposits();
        await LoadLoans();
    }



    private bool IsValidEmail(string email)
    {
        if (string.IsNullOrWhiteSpace(email))
            return false;

        try
        {
            // Проверка на соответствие формату email
            var addr = new System.Net.Mail.MailAddress(email);
            return addr.Address == email;
        }
        catch
        {
            return false;
        }
    }

    public class Card
    {
        public string CardId { get; set; }
        public int TypeId { get; set; }
        public string AccountId { get; set; }
        public string CardNumber { get; set; }
        public DateTime ExpDate { get; set; }
        public string Cvv { get; set; }
        public string OwnerName { get; set; }
        public bool Blocked { get; set; }
        public DateTime CreatedAt { get; set; }
        public DateTime? BlockedAt { get; set; }


        public Card(int typeId, string accountId, string ownerName)
        {
            TypeId = typeId;
            AccountId = accountId;
            OwnerName = ownerName;
        }
    }

    public class CardWithBalance : Card
    {
        public decimal Balance {get;set;}

        public CardWithBalance(int typeId, string accountId, string ownerName)
            : base(typeId, accountId, ownerName)
        {
            
        }
    }

    public class Account
    {
        public string AccountId { get; set; } = null!;
        public string ClientId { get; set; } = null!;
        public int TypeId { get; set; }
        public int CurrencyId { get; set; }
        public int StatusId { get; set; } = 1;
        public decimal Balance { get; set; } = 0;
        public DateTime UpdatedAt { get; set; } = DateTime.Now;
        public int AccountNumber { get; set; }

        public Account(string clientId, int typeId, int currencyId)
        {
            ClientId = clientId;
            TypeId = typeId;
            CurrencyId = currencyId;
        }
    }

    public async Task<Account?> AddAccount(int typeId = 1, decimal Balance = 0)
    {
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        var account = new Account(BlazorUser.User.ClientId, typeId, 1);
        account.Balance = Balance;
        HttpResponseMessage responseAccountToPost = await client.PostAsJsonAsync($"api/Account", account);

        if (responseAccountToPost.IsSuccessStatusCode)
        {
            HttpResponseMessage responseAccountToGet = await client.GetAsync($"api/Account/client/{user.ClientId}");
            if (responseAccountToGet.IsSuccessStatusCode)
            {
                Account userAccount = (await responseAccountToGet.Content.ReadFromJsonAsync<List<Account>>() ?? new List<Account>()).OrderByDescending(a => a.UpdatedAt).ToList().First();
                return userAccount;
            }
        }
        return null;
    }


    public async Task LoadAccounts()
    {
        accounts = new List<Account>();
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        try
        {
            accounts = await client.GetFromJsonAsync<List<Account>>($"api/Account/client/{user.ClientId}");
        }
        catch (Exception ex) {Console.WriteLine($"Account not found: {ex.Message}");}
    }


    public class CreateLoanRequest
    {
        public string? AccountId { get; set; }
        public int LoanTypeId { get; set; }
        public decimal Amount { get; set; }
        public DateTime EndDate { get; set; }
    }

    public class GetLoanRequest
    {
        public string LoanId { get; set; } = null!;
        public string? AccountId { get; set; }
        public int LoanTypeId { get; set; }
        public int StatusId { get; set; }
        public string DocumentId { get; set; } = null!;
        public decimal Amount { get; set; }
        public decimal RemarningAmount { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
    }
    public class GetLoanTypeRequest
    {

        public int LoanTypeId { get; set; }
        public string Name { get; set; } = null!;
        public decimal InterestRate { get; set; }
        public decimal MaxLoanAmount { get; set; }
    }

    public class LoanInfo
    {
        public string TypeName {get; set;}
        public decimal Balance {get; set;}
        public decimal InterestRate { get; set; }
        public decimal RemarningAmount {get; set;}
        
    }

    public bool IsLoanLoading = true;
    public List<LoanInfo> loans = new List<LoanInfo>();
    public decimal loanBalance = 10_000;
    public DateTime loanEndDate = DateTime.Now.AddMonths(6);
    public string NameOfLoanComboBox = "Выберите тип кредита";
    public int TypeLoan = 1;
    private void TypeOfLoan(int type){
        switch(type){
            case 1:
                NameOfLoanComboBox = "Start";
                break;
            case 2: 
                NameOfLoanComboBox = "Family comfort";
                break;
            case 3:
                NameOfLoanComboBox = "Auto+";
                break;
            }
        TypeLoan = type;
    }


    public async Task LoadLoans()
    {
        IsLoanLoading = true;
        loans = new List<LoanInfo>();
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

        if (accounts != null && accounts.Count != 0)
        {
            var tasks = accounts.Select(async a =>
            {
                try
                {
                    var loan = await client.GetFromJsonAsync<GetLoanRequest>($"api/Loan/account/{a.AccountId}");
                    var loanType = await client.GetFromJsonAsync<GetLoanTypeRequest>($"api/LoanType/{loan.LoanTypeId}");

                    LoanInfo loanInfo = new LoanInfo
                    {
                        TypeName = loanType.Name,
                        Balance = loan.Amount,
                        InterestRate = loanType.InterestRate,
                        RemarningAmount = loan.RemarningAmount
                    };

                    return loanInfo;
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                    return null;
                }
            }).ToList();

            var results = await Task.WhenAll(tasks);

            loans.AddRange(results.Where(d => d != null));
        }

        IsLoanLoading = false;
    }

    public bool IsAddingLoan = false;
    public bool IsButtonBlocked = false;
    public async Task AddLoan()
    {
        IsButtonBlocked = true;
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

        if(NameOfLoanComboBox == "Выберите тип кредита"){
            ToastService.ShowError("Выберите тип кредита");
            IsLoanLoading = false;
            IsButtonBlocked = false;
            return;
        }
        var loanTypeForChecks = await client.GetFromJsonAsync<GetLoanTypeRequest>($"api/LoanType/{TypeLoan}");

        if (loanBalance > loanTypeForChecks.MaxLoanAmount)
        {
            ToastService.ShowError($"Максимальная сумма кредита для данного типа должна быть меньше {(int)loanTypeForChecks.MaxLoanAmount}");
            IsButtonBlocked = false;
            return;
        }
        
        if (loanBalance < loanTypeForChecks.MaxLoanAmount / 10)
        {
            ToastService.ShowError($"Минимальная сумма кредита для данного типа должна быть больше {(int)(loanTypeForChecks.MaxLoanAmount / 10)}");
            IsButtonBlocked = false;
            return;
        }

        var userAccount = await AddAccount(2, loanBalance);

        if (userAccount is not null)
        {
            accounts.Add(userAccount);
            var userLoan = new CreateLoanRequest{ AccountId = userAccount.AccountId, LoanTypeId  = TypeLoan, Amount = loanBalance, EndDate = loanEndDate};
            if(userLoan.EndDate > DateTime.Now.AddYears(40)){
                ToastService.ShowError("Кредит можно создать не более чем на 40 лет");
                IsLoanLoading = false;
                IsButtonBlocked = false;
                return;
            }
            HttpResponseMessage responseCardToPost = await client.PostAsJsonAsync($"api/Loan", userLoan);
            IsAddingLoan = true;
            isModalLoanVisible = false;
            IsButtonBlocked = false;
            ShowModal();
            @* 
            ToastService.ShowError("Error in responseCardToPost"); 
            var loanToDelete = await client.GetFromJsonAsync<GetLoanRequest>($"api/Loan/account/{userAccount.AccountId}");
            await client.DeleteAsync($"api/Loan?id={loanToDelete.LoanId}"); 
            *@
        } else { ToastService.ShowError("Error in userAccount"); }
        IsButtonBlocked = false;
        await LoadLoans();
        return;
    }

    public DateTime depositEndTime;
    public bool IsDepositHaveEnd = true;

    public bool IsDepositLoading = true;

    public class CreateDepositRequest
    {
        public int DepositTypeId { get; set; }
        public string AccountId { get; set; } = null!;
        public DateTime? EndDate { get; set; }
    }

    public class GetDepositRequest
    {
        public string DepositId { get; set; } = null!;
        public int DepositTypeId { get; set; }
        public int StatusId { get; set; }
        public string DocumentId { get; set; } = null!;
        public string AccountId { get; set; } = null!;
        public string Name { get; set; } = null!;
        public DateTime StartDate { get; set; }
        public DateTime? EndDate { get; set; }
    }

    public class GetDepositTypeRequest
    {
        public int DepositTypeId { get; set; }
        public string Name { get; set; } = null!;
        public decimal InterestRate { get; set; }
        public decimal? MinAmount { get; set; }
        public int? MinTerm { get; set; }
        public DateTime CreatedAt { get; set; }
        public DateTime? DeletedAt { get; set; }
    }

    public class DepositInfo
    {
        public string TypeName {get; set;}
        public decimal Balance {get;set;}
        public decimal IncreasestRate {get; set;}

        public DateTime StartDate { get; set; }
        public DateTime? EndDate { get; set; }
    }

    public void ChangeDepositEnd()
    {
        IsDepositHaveEnd = !IsDepositHaveEnd;
    }

    public async Task AddDeposit()
    {
        IsButtonBlocked = true;
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        
        var userAccount = await AddAccount();

        if (userAccount is not null)
        {
            accounts.Add(userAccount);
            var userDeposit = new CreateDepositRequest{DepositTypeId = TypeDeposit, AccountId = userAccount.AccountId, EndDate = IsDepositHaveEnd ? depositEndTime : null};
            if(userDeposit.EndDate > DateTime.Now.AddYears(40)){
                ToastService.ShowError("Вклад можно создать не более чем на 40 лет");
                IsDepositLoading = false;
                return;
            }
            if(NameOfDepositComboBox == "Выберите тип вклада"){
                ToastService.ShowError("Выберите тип вклада");
                IsDepositLoading = false;
                IsButtonBlocked = false;
                return;
            }
            try
            {
                HttpResponseMessage responseCardToPost = await client.PostAsJsonAsync($"api/Deposit", userDeposit);
            }
            catch  (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
            HideModalDeposit();  
            ToastService.ShowSuccess("Вклад создан");
        } else { ToastService.ShowError("Error in userAccount"); }
    
        IsButtonBlocked = false;
        await LoadDeposits();
        return;
    }

    public List<DepositInfo> deposits; 
    public async Task LoadDeposits()
    {
        IsDepositLoading = true;
        deposits = new List<DepositInfo>();
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

        if (accounts != null && accounts.Count != 0)
        {
            var tasks = accounts.Select(async a =>
            {
                try
                {
                    var deposit = await client.GetFromJsonAsync<GetDepositRequest>($"api/Deposit/account/{a.AccountId}");
                    var depositType = await client.GetFromJsonAsync<GetDepositTypeRequest>($"api/DepositType/{deposit.DepositTypeId}");

                    DepositInfo depositInfo = new DepositInfo
                    {
                        TypeName = depositType.Name,
                        Balance = a.Balance,
                        IncreasestRate = depositType.InterestRate,
                        StartDate = deposit.StartDate,
                        EndDate = deposit.EndDate
                    };

                    return depositInfo;
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                    return null;
                }
            }).ToList();

            var results = await Task.WhenAll(tasks);

            deposits.AddRange(results.Where(d => d != null));
        }

        IsDepositLoading = false;
    }


    public async Task LoadCards()
    {
        isLoading = true;
        cards = new List<CardWithBalance>();
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

        if (accounts is not null || accounts.Count != 0)
        {
            isUserHaveAccount = true;
            var tasks = accounts.Select(async a =>
            {
                try
                {
                    var card = await client.GetFromJsonAsync<CardWithBalance>($"api/Card/account/{a.AccountId}");
                    card.Balance = a.Balance;
                    return card;
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                    return null;
                }
            }).ToList();
            
            var results = await Task.WhenAll(tasks);

            var sortedResults = results
                        .Where(c => c != null)
                        .OrderBy(c => c.Blocked) 
                        .ThenByDescending(c => c.TypeId == 1) 
                        .ThenBy(c => c.CreatedAt) 
                        .ToList();

            cards.AddRange(sortedResults);
        }
        isLoading = false;
    }

    public async Task BlockCard(string cardId)
    {
        isCardBlockLoad = true;

        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

        var cardToBlock = await client.GetFromJsonAsync<Card>($"api/Card/{cardId}");

        if (cardToBlock is null)
        {
            ToastService.ShowError("Карта не найдена");
            return;
        }

        cardToBlock.Blocked = true;
        cardToBlock.BlockedAt = DateTime.Now;

        var responseToBlock = await client.PutAsJsonAsync<Card>($"api/Card", cardToBlock);
        if (responseToBlock.IsSuccessStatusCode)
            ToastService.ShowInfo("Карта заблокирована");
        else
            ToastService.ShowInfo("Карта не заблокирована");
        await LoadCards();
        isCardBlockLoad = false;
        return;
    }

    public string ownerName = "";
    public async Task AddCard(Account? account = null, int typeId = 1)
    {
        if (string.IsNullOrEmpty(ownerName))
        {
            ToastService.ShowError("Имя пустое, чел");
            return;
        }
        IsButtonBlocked = true;
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        var userAccount = account is null ? await AddAccount() : account;
        if (userAccount is not null)
        {
            if (account is null)
            {
                accounts.Add(userAccount);
            }
            var userCard = new Card(typeId, userAccount.AccountId, ownerName.ToUpper());
            HttpResponseMessage responseCardToPost = await client.PostAsJsonAsync($"api/Card", userCard);
            if (responseCardToPost.IsSuccessStatusCode)
            {
                HideModal();
                ToastService.ShowSuccess("Карта создана");
                await LoadCards();
            } else { ToastService.ShowError("Error in responseCardToPost"); }
        } else { ToastService.ShowError("Error in userAccount"); }
        IsButtonBlocked = false;
        ownerName = "";
        return;
    }


    public bool isTransaction = false;
    public string cardToTransact = "";
    public decimal TransactionAmount = 100;
    public async Task TransactionBetweenCards()
    {
        isTransaction = true;
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        if (selectedCard == null || string.IsNullOrEmpty(cardToTransact) || TransactionAmount <= 0 || cardToTransact.Count() != 16 || !cardToTransact.All(char.IsDigit))
        {
            ToastService.ShowError("Некорректные данные для перевода");
            isTransaction = false;
            return;
        }

        Account? accountFrom;
        try
        {
            accountFrom = await client.GetFromJsonAsync<Account>($"api/Account/id/{selectedCard.AccountId}");
        }
        catch
        {
            ToastService.ShowError("Счет отправителя не найден");
            isTransaction = false;
            return;
        }

        Card? cardTo;
        try
        {
            cardTo = await client.GetFromJsonAsync<Card>($"api/Card/by-number/{cardToTransact}");
            if(cardTo.Blocked){
                ToastService.ShowError("Карта получателя заблокирована");
                isTransaction = false;
                return;
            }
        }
        catch
        {
            ToastService.ShowError("Карта получателя не найдена");
            isTransaction = false;
            return;
        }

        Account? accountTo;
        try
        {
            accountTo = await client.GetFromJsonAsync<Account>($"api/Account/id/{cardTo.AccountId}");
        }
        catch
        {
            ToastService.ShowError("Счет получателя не найден");
            isTransaction = false;
            return;
        }

        if (accountFrom.Balance < TransactionAmount)
        {
            ToastService.ShowError("Недостаточно средств на счете отправителя");
            isTransaction = false;
            return;
        }
        
        accountFrom.Balance -= TransactionAmount;
        accountTo.Balance += TransactionAmount;

        var responseFrom = await client.PutAsJsonAsync("api/Account", accountFrom);
        if (!responseFrom.IsSuccessStatusCode)
        {
            ToastService.ShowError("Ошибка при обновлении баланса отправителя");
            isTransaction = false;
            return;
        }

        var responseTo = await client.PutAsJsonAsync("api/Account", accountTo);
        if (!responseTo.IsSuccessStatusCode)
        {
            ToastService.ShowError("Ошибка при обновлении баланса получателя");
            isTransaction = false;
            return;
        }

        ToastService.ShowSuccess("Перевод успешен");
        isTransactionVisible = false;
        isTransaction = false;
        cardToTransact = "";
        await LoadAccounts();
        await LoadCards();
    }

    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    //protected override async Task OnInitializedAsync()
    //{

        //user = BlazorUser.User;
        //var client = new HttpClient();
        //client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        //result = await client.GetFromJsonAsync<User[]>("api/User");

       // return;
    //}
}
