    @page "/personal"
@inject NavigationManager NavigationManager
@inject BlazorUser BlazorUser
@inject BlazorUser User
@inject IToastService ToastService
@inject IJSRuntime JSRuntime
@using System.Text.RegularExpressions;
@using System.Text.Json;

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light">
    <div class="container">
        <div style="width: 50%;">
            <i class="bi bi-cash-coin" style="color: white; padding-right: 1%;"></i>
            <a class="navbar-brand w-25 text-light" href="./Personal">Банк Приколофф</a>
        </div>
        <div style="width: 50%; display: flex; justify-content: flex-end;">
            <div class="dropdown">
                <i class="bi bi-emoji-smile dropdown-toggle" style="color: rgb(255, 255, 255); font-size: left: auto;;" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Выйти из аккаунта</a>
                </div>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto w-100 d-flex justify-content-end">

            </div>
        </div>
    </div>
</nav>
<section class="heroSec @((isLoading) ? "loading" : "loaded")" id="hero" style="position: sticky;">
    <div class="container">
        <div class="main" style="display-flex; height: 100%;">
            <div class="col d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <h1>Добро пожаловать, @user.FirstName</h1>
                        <div style="display: flex; flex-direction: row">
                            <h4>Ваши карты</h4>
                            <button class="btn btn-dark btn-sm" style="margin-left: 1%;" @onclick="ShowModal">Хотите оформить?</button>                                                       
                        </div>
                        <button class="btn btn-dark btn-sm" @onclick="LoadCards" disabled="@isLoading">Обновить</button>
                            <div class="scroll-container">
                                @if (isLoading)
                                {
                                    <h6>Информация загружается...</h6>
                                }
                                else
                                {
                                    @if (isUserHaveAccount)
                                    {
                                        @foreach(var card in cards)
                                        {
                                            if (!string.IsNullOrEmpty(card.OwnerName))
                                            {
                                            <div class="scroll-card">
                                                <div class="cardUser">
                                                    <div class="front">
                                                        <div style="padding-bottom: 30px;">
                                                            @card.CardNumber
                                                        </div>
                                                        <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 20%">
                                                            <div>
                                                                @card.OwnerName
                                                            </div>
                                                            <div>
                                                                @card.ExpDate.Month / @card.ExpDate.Year.ToString().Substring(2,2)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="back">
                                                        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; height: 100%; gap: 10%">
                                                            <div>cvv: @card.Cvv Баланс: @card.Balance</div>
                                                            @if (card.Blocked)
                                                            {
                                                                <div>Карта заблокирована</div>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-dark btn-sm w-100">Показать Информацию</button>                                                       
                                                                <button class="btn btn-dark btn-sm w-100" @onclick="() => BlockCard(card.CardId)">Заблокировать</button>                                                       
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <h6>Карты отсутствуют <button class="btn btn-dark btn-sm" style="margin-left: 1%;" @onclick="ShowModal">Хотите оформить?</button></h6>
                                        <i style="font-size: 35px;" class="bi bi-emoji-frown"></i>
                                    }
                                }
                                <div>
                                </div>
                            </div>
                    </div>
                    @if (isModalVisible)
                    {
                        <div class="modal-overlay" @onclick="HideModal"></div>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBasicLabel">Оформление карты</h5>
                                        <button type="button" class="btn-close" aria-label="Закрыть" @onclick="HideModal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="padding-bottom: 10px;">
                                            <label for="phone"><b>Имя на карте</b></label>
                                            <input type="text" class="form-control" id="Login" @bind="ownerName" placeholder="IVANOV IVAN"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" @onclick="HideModal">Отменить</button>
                                        <button type="button" class="btn btn-primary" @onclick="AddCard" disabled="@isAddingCard">Оформить карту</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        <div style="display: flex; flex-direction: row">
                            <h4>Ваши вклады</h4>
                            <button class="btn btn-dark btn-sm" style="margin-left: 1%;" @onclick="ShowModalDeposit">Хотите оформить?</button>                                                       
                        </div>
                        <div class="scroll-container">
                            @if (deposits is null || deposits.Count == 0)
                            {
                                <h6>Вклады отсутствуют</h6> 
                            }
                            else 
                            {
                                foreach (var d in deposits)
                                {
                                    <i style="font-size: 35px;" class="bi bi-emoji-frown"></i>
                                    <div class="scroll-deposite">
                                        <div>
                                            Тип вклада: @d.DepositTypeId
                                        </div>
                                        <div>
                                            Сумма: счет
                                        </div>
                                        <div>
                                            Процент: тип депозита
                                        </div>
                                        <div>
                                            Дата открытия: @d.StartDate.ToShortDateString()
                                        </div>
                                        
                                            @if (@d.EndDate is not null) 
                                            {
                                                <div>
                                                    Дата закрытия: @Convert.ToDateTime(d.EndDate).ToShortDateString();
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    Бессрочный
                                                </div>
                                            }
                                        
                                    </div>
                                }
                            }
                            
                        </div>
                    </div>   
                    @if (isModalDepositVisible)
                    {
                        <div class="modal-overlay" @onclick="HideModalDeposit"></div>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBasicLabel">Оформление вклада</h5>
                                        <button type="button" class="btn-close" aria-label="Закрыть" @onclick="HideModalDeposit"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="padding-bottom: 10px;">
                                            <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Выберите тип вклада
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item">Тип 1</a></li>
                                                <li><a class="dropdown-item">Тип2</a></li>
                                                <li><a class="dropdown-item">Тип 3</a></li>
                                            </ul>
                                            </div>
                                    </div>
                                        <div style="padding-bottom: 10px;">
                                            <label for="email"><b>Дата возврата</b></label>
                                            <input type="date" class="form-control" @bind="depositEndTime" disabled="@(!IsDepositHaveEnd)"/>
                                        </div>
                                        <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 15px;">
                                            Бессрочный
                                            <input type="checkbox" @onclick="ChangeDepositEnd">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" @onclick="HideModalDeposit">Отменить</button>
                                        <button type="button" class="btn btn-primary" disabled="@isAddingCard" @onclick="AddDeposit">Оформить вклад</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        <div style="display: flex; flex-direction: row">
                            <h4>Ваши кредиты</h4>
                            <button class="btn btn-dark btn-sm" style="margin-left: 1%;" @onclick="ShowModalLoan">Хотите оформить?</button>                                                       
                        </div>
                        <div class="scroll-container">
                            <div class="scroll-loan">
                                <div>
                                    Тип кредита:
                                </div>
                                <div>
                                    Сумма: 70 000₽
                                </div>
                                <div>
                                    Процент: 10%
                                </div>
                                <div>
                                    До следующего платежа: 8 дней
                                </div>
                                <div>
                                    Осталось погасить: 40 000₽
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (isModalLoanVisible)
                    {
                        <div class="modal-overlay" @onclick="HideModalLoan"></div>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBasicLabel">Оформление кредита</h5>
                                        <button type="button" class="btn-close" aria-label="Закрыть" @onclick="HideModalLoan"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="padding-bottom: 10px;">
                                            <div class="dropdown" style="padding-bottom: 10px;">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Выберите тип кредита
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" href="#">Тип 1</a></li>
                                                <li><a class="dropdown-item" href="#">Тип2</a></li>
                                                <li><a class="dropdown-item" href="#">Тип 3</a></li>
                                            </ul>
                                            </div>
                                            <div style="padding-bottom: 10px;">
                                                <label for="phone"><b>Сумма</b></label>
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <div style="padding-bottom: 10px;">
                                                <label for="email"><b>Дата возврата</b></label>
                                                <input id="depositEndTime" type="date" class="form-control" @bind="depositEndTime"/>
                                            </div>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" @onclick="HideModalLoan">Отменить</button>
                                        <button type="button" class="btn btn-primary" disabled="@isAddingCard">Оформить кредит</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-white text-dark py-4 border-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5>Адрес</h5>
                <p>г. Москва, ул. Болотная набережная, д.15</p>
            </div>
            <div class="col-md-6">
                <h5>Информация</h5>
                <p><a href="../license_prikoloff.jpg" style="color: black;">Генеральная лицензия на осуществление банковских операций от 10 декабря 2024 года. Регистрационный
                    номер — 2145</a></p>
                <p>© 2024 — <span id="currentYear"></span> ПАО Приколофф</p>
                <p>800 Для бесплатных звонков с мобильных на территории РФ</p>
                <p>8 (800) 555 35-35 Для звонков из любой точки мира</p>
            </div>
        </div>
    </div>
</footer>


<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>


@code {
    public string ClientId { get; set; }
    public string Login { get; set; }
    public string Password { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string? Patronomic { get; set; }
    public string Email { get; set; }
    private bool NoPatronymic { get; set; }
    private bool ShowEmailMessage { get; set; }
    private bool ShowFirstNameMessage { get; set; }
    private bool ShowLastNameMessage { get; set; }
    private bool ShowPatronomicMessage { get; set; }
    private bool ShowInvalidEmailMessage { get; set; }
    private bool isModalVisible = false;
    private bool isModalDepositVisible = false;
    private bool isModalLoanVisible = false;


    public bool isUserHaveAccount = false;

    public bool isLoading = true;

    public bool isAddingCard = false;

    public List<Account> accounts = new List<Account>();

    public List<CardWithBalance> cards = new List<CardWithBalance>();
    
    public string ser;
    public string num;


    private void ShowModal()
    {
        isModalVisible = true;
    }

    private void HideModal()
    {
        isModalVisible = false;
    }

    private void ShowModalDeposit()
    {
        isModalDepositVisible = true;
    }
    private void HideModalDeposit()
    {
        isModalDepositVisible = false;
    }

    private void ShowModalLoan()
    {
        isModalLoanVisible = true;
    }
    private void HideModalLoan()
    {
        isModalLoanVisible = false;
    }
    User user = new User();

    protected override async Task OnInitializedAsync()
    {

        var date = DateTime.Now;
        depositEndTime = DateTime.Now.AddMonths(6);
        CurrentTime = date.ToShortTimeString();
        CurrentDate = date.ToShortDateString();

        if (BlazorUser.User is not null && !string.IsNullOrEmpty(BlazorUser.User.ClientId))
        {
            user = BlazorUser.User;
            await LoadAccounts();
        }
        else
        {
            var clientId = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "ClientId");
            if (!string.IsNullOrEmpty(clientId))
            {
                HttpClient client = new HttpClient();
                client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
                HttpResponseMessage response = await client.GetAsync($"api/User/id/{clientId}");

                BlazorUser.User = await response.Content.ReadFromJsonAsync<User>();
                if (BlazorUser.User is null)
                {
                    NavigationManager.NavigateTo("/");
                }
                user = BlazorUser.User;
                await LoadAccounts();
            }
            else
            {
                NavigationManager.NavigateTo("/");
                return;
            }
        }

        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "ClientId", BlazorUser.User.ClientId);

        ser = user.SeriesPasport.ToString();
        num = user.NumberPasport.ToString();

        if(ser == null || ser.Length < 4 || num == null || num.Length < 6){
            ToastService.ShowWarning("Пожалуйста, исправьте паспортную информацию в профиле");
        }

        await LoadCards();
        await LoadDeposits();
    }



    private bool IsValidEmail(string email)
    {
        if (string.IsNullOrWhiteSpace(email))
            return false;

        try
        {
            // Проверка на соответствие формату email
            var addr = new System.Net.Mail.MailAddress(email);
            return addr.Address == email;
        }
        catch
        {
            return false;
        }
    }

    public class Card
    {
        public string CardId { get; set; }
        public int TypeId { get; set; }
        public string AccountId { get; set; }
        public string CardNumber { get; set; }
        public DateTime ExpDate { get; set; }
        public string Cvv { get; set; }
        public string OwnerName { get; set; }
        public bool Blocked { get; set; }
        public DateTime CreatedAt { get; set; }
        public DateTime? BlockedAt { get; set; }


        public Card(int typeId, string accountId, string ownerName)
        {
            TypeId = typeId;
            AccountId = accountId;
            OwnerName = ownerName;
        }
    }

    public class CardWithBalance : Card
    {
        public decimal Balance {get;set;}

        public CardWithBalance(int typeId, string accountId, string ownerName)
            : base(typeId, accountId, ownerName)
        {
            
        }
    }

    public class Account
    {
        public string AccountId { get; set; } = null!;
        public string ClientId { get; set; } = null!;
        public int TypeId { get; set; }
        public int CurrencyId { get; set; }
        public int StatusId { get; set; } = 1;
        public decimal Balance { get; set; } = 0;
        public DateTime UpdatedAt { get; set; } = DateTime.Now;
        public int AccountNumber { get; set; }

        public Account(string clientId, int typeId, int currencyId)
        {
            ClientId = clientId;
            TypeId = typeId;
            CurrencyId = currencyId;
        }
    }


    public async Task LoadAccounts()
    {
        accounts = new List<Account>();
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        accounts = await client.GetFromJsonAsync<List<Account>>($"api/Account/client/{user.ClientId}") ?? new List<Account>();
    }


    public DateTime depositEndTime;
    public bool IsDepositHaveEnd = true;

    public class CreateDepositRequest
    {
        public int DepositTypeId { get; set; }
        public string AccountId { get; set; } = null!;
        public DateTime? EndDate { get; set; }
    }

    public class GetDepositRequest
    {
        public string DepositId { get; set; } = null!;
        public int DepositTypeId { get; set; }
        public int StatusId { get; set; }
        public string DocumentId { get; set; } = null!;
        public string AccountId { get; set; } = null!;
        public string Name { get; set; } = null!;
        public DateTime StartDate { get; set; }
        public DateTime? EndDate { get; set; }
    }

    public void ChangeDepositEnd()
    {
        IsDepositHaveEnd = !IsDepositHaveEnd;
    }

    public async Task AddDeposit()
    {
        isAddingCard = true;
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        var account = new Account(BlazorUser.User.ClientId, 1, 1);
        HttpResponseMessage responseAccountToPost = await client.PostAsJsonAsync($"api/Account", account);

        if (responseAccountToPost.IsSuccessStatusCode)
        {
            HttpResponseMessage responseAccountToGet = await client.GetAsync($"api/Account/client/{user.ClientId}");
            if (responseAccountToGet.IsSuccessStatusCode)
            {
                List<Account> userAccount = (await responseAccountToGet.Content.ReadFromJsonAsync<List<Account>>() ?? new List<Account>()).OrderByDescending(a => a.UpdatedAt).ToList();
                if (userAccount is not null || userAccount.Count != 0)
                {
                    var userDeposit = new CreateDepositRequest{ DepositTypeId = 1,AccountId = userAccount.First().AccountId, EndDate = IsDepositHaveEnd ? depositEndTime : null};
                    HttpResponseMessage responseCardToPost = await client.PostAsJsonAsync($"api/Deposit", userDeposit);
                    if (responseCardToPost.IsSuccessStatusCode)
                    {
                        ToastService.ShowSuccess("Депозит создан");
                        await LoadCards();
                    } else { ToastService.ShowError("Error in responseCardToPost"); }
                } else { ToastService.ShowError("Error in userAccount"); }
            } else { ToastService.ShowError("Error in responseAccountToGet"); }
        } else { ToastService.ShowError("Error in responseAccountToPost"); }
        isAddingCard = false;
        HideModal();
        return;
    }

    public List<GetDepositRequest> deposits; 
    public async Task LoadDeposits()
    {
        isLoading = true;
        deposits = new List<GetDepositRequest>();
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

        if (accounts is not null || accounts.Count != 0)
        {
            isUserHaveAccount = true;
            try 
            {
                foreach (var a in accounts)
                {
                    var deposit = await client.GetFromJsonAsync<GetDepositRequest>($"api/Deposit/account/{a.AccountId}");
                    deposits.Add(deposit);
                }
            }
            catch (Exception ex)
            {
                ToastService.ShowError("It`s morbin time");
                Console.WriteLine(ex.Message);
            }
        }
        isLoading = false;
    }


    public async Task LoadCards()
    {
        isLoading = true;
        cards = new List<CardWithBalance>();
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

        if (accounts is not null || accounts.Count != 0)
        {
            isUserHaveAccount = true;
            try 
            {
                foreach (var a in accounts)
                {
                    var card = await client.GetFromJsonAsync<CardWithBalance>($"api/Card/account/{a.AccountId}");
                    card.Balance = a.Balance;
                    cards.Add(card);
                }
            }
            catch (Exception ex)
            {
                ToastService.ShowError("It`s morbin time");
                Console.WriteLine(ex.Message);
            }
        }
        isLoading = false;
    }

    public async Task BlockCard(string cardId)
    {
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

        var cardToBlock = await client.GetFromJsonAsync<Card>($"api/Card/{cardId}");

        if (cardToBlock is null)
        {
            ToastService.ShowError("Карта не найдена");
            return;
        }

        cardToBlock.Blocked = true;
        cardToBlock.BlockedAt = DateTime.Now;

        var responseToBlock = await client.PutAsJsonAsync<Card>($"api/Card", cardToBlock);
        if (responseToBlock.IsSuccessStatusCode)
            ToastService.ShowInfo("Карта заблокирована");
        else
            ToastService.ShowInfo("Карта не заблокирована");
        await LoadCards();
        return;
    }

    public string ownerName = "";
    public async Task AddCard()
    {
        if (string.IsNullOrEmpty(ownerName))
        {
            ToastService.ShowError("Имя пустое, чел");
            return;
        }
        isAddingCard = true;
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        var account = new Account(BlazorUser.User.ClientId, 1, 1);
        //account.Balance += 1000;
        HttpResponseMessage responseAccountToPost = await client.PostAsJsonAsync($"api/Account", account);

        if (responseAccountToPost.IsSuccessStatusCode)
        {
            HttpResponseMessage responseAccountToGet = await client.GetAsync($"api/Account/client/{user.ClientId}");
            if (responseAccountToGet.IsSuccessStatusCode)
            {
                List<Account> userAccount = (await responseAccountToGet.Content.ReadFromJsonAsync<List<Account>>() ?? new List<Account>()).OrderByDescending(a => a.UpdatedAt).ToList();
                if (userAccount is not null || userAccount.Count != 0)
                {
                    var userCard = new Card(1, userAccount.First().AccountId, ownerName);
                    HttpResponseMessage responseCardToPost = await client.PostAsJsonAsync($"api/Card", userCard);
                    if (responseCardToPost.IsSuccessStatusCode)
                    {
                        ToastService.ShowSuccess("Карта создана");
                        await LoadCards();
                    } else { ToastService.ShowError("Error in responseCardToPost"); }
                } else { ToastService.ShowError("Error in userAccount"); }
            } else { ToastService.ShowError("Error in responseAccountToGet"); }
        } else { ToastService.ShowError("Error in responseAccountToPost"); }
        isAddingCard = false;
        HideModal();
        ownerName = "";
        return;
    }



    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    //protected override async Task OnInitializedAsync()
    //{

        //user = BlazorUser.User;
        //var client = new HttpClient();
        //client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        //result = await client.GetFromJsonAsync<User[]>("api/User");

       // return;
    //}
}
